body {
  margin: 0;
  padding: 0;
  background-color: pink;
  font-family: "Arial";
}
.container {
  position: absolute;
  left: 150px;
  width: 450px;
  height: 120px;
  bottom: 50%;
  padding: 5px;
}
.login {
  width: 300px;
  overflow: hidden;
  margin: auto;
  margin: 20 0 0 450px;
  padding: 20px;
  background: red;
  border-radius: 10px;
}
.right {
  position: absolute;
  right: 550px;
  width: 200px;
  height: 200px;
  bottom: 20%;
  top: 30%;
}
h6 {
  text-align: center;
  color: white;
  padding: 10px;
  background-color: blue;
  width: 350px;
  margin-left: 2px;
  text-color: white;
}
.submit {
  color: green;
}
.c1 {
  background-color: blue;
  border: 500px;
  font-weight: 200px;
}
